@font-face {
    font-family: 'PoppinsRegular';
    src: url('fonts/PoppinsRegular.eot');
    src: url('fonts/PoppinsRegular.eot') format('embedded-opentype'), url('fonts/PoppinsRegular.woff2') format('woff2'), url('fonts/PoppinsRegular.woff') format('woff'), url('fonts/PoppinsRegular.ttf') format('truetype'), url('fonts/PoppinsRegular.svg#PoppinsRegular') format('svg');
}

@font-face {
    font-family: 'PoppinsExtraLight';
    src: url('fonts/PoppinsExtraLight.eot');
    src: url('fonts/PoppinsExtraLight.eot') format('embedded-opentype'), url('fonts/PoppinsExtraLight.woff2') format('woff2'), url('fonts/PoppinsExtraLight.woff') format('woff'), url('fonts/PoppinsExtraLight.ttf') format('truetype'), url('fonts/PoppinsExtraLight.svg#PoppinsExtraLight') format('svg');
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('fonts/PoppinsSemiBold.eot');
    src: url('fonts/PoppinsSemiBold.eot') format('embedded-opentype'), url('fonts/PoppinsSemiBold.woff2') format('woff2'), url('fonts/PoppinsSemiBold.woff') format('woff'), url('fonts/PoppinsSemiBold.ttf') format('truetype'), url('fonts/PoppinsSemiBold.svg#PoppinsSemiBold') format('svg');
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);
    --font-size: 15px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--light-gray);
}

main {
    margin: auto;
    max-width: 90%;
    color: var(--grayish-blue);
    font-family: 'PoppinsRegular';
}

h1 {
    font-family: 'PoppinsExtraLight';
    font-size: 1.7rem;
}

h2 {
    font-size: 1.4rem;
}

span,
h2 {
    color: var(--dark-blue);
    display: block;
    font-family: 'PoppinsSemiBold';
}

.intro {
    text-align: center;
    margin: 2rem 0 5rem;
}

.roles a {
    text-decoration: none;
    color: inherit;
}

.duty {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0rem .5rem 1rem hsla(219, 87%, 64%, .2);
    margin: 1.5rem 0;
    padding: .5rem 1.2rem;
    border-top: 5px solid var(--cyan);
}

.duty * {
    padding: 0;
    margin: 0;
    line-height: 1.7;
}

.duty::after {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1.2rem 0 .5rem;
}

.duty:hover,
.duty:active,
.duty:active {
    transform: scale(1.05);
    transition: 500ms;
}

.super {
    border-color: var(--cyan);
    grid-area: super;
}

.super::after {
    content: url(images/icon-supervisor.svg);
}

.team {
    border-color: var(--red);
    grid-area: team;
}

.team::after {
    content: url(images/icon-team-builder.svg);
}

.karma {
    border-color: var(--orange);
    grid-area: karma;
}

.karma::after {
    content: url(images/icon-karma.svg);
}

.calc {
    border-color: var(--blue);
    grid-area: calc;
}

.calc::after {
    content: url(images/icon-calculator.svg);
}

@media screen and (min-width: 700px) {
    .roles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        margin-bottom: 2rem;
        grid-template-areas: "super team" "karma calc";
    }
    .duty {
        margin: 0;
        padding: 1rem 1.2rem 0;
    }
    .intro {
        margin: 2rem 0 2.5rem;
    }
    .intro p {
        padding: 0;
        max-width: 35rem;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .roles {
        display: grid;
        grid-template-rows: repeat(4, minmax(0, 1fr));
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .duty {
        margin: 0;
        padding: 1rem 1.2rem 0;
    }
    .super {
        grid-column: 1;
        grid-row: 2/4;
    }
    .team {
        grid-column: 2;
        grid-row: 1/3;
    }
    .karma {
        grid-column: 2;
        grid-row: 3/5;
    }
    .calc {
        grid-column: 3;
        grid-row: 2/4;
    }
    .intro {
        margin: 2rem 0 2.5rem;
    }
    .intro p {
        padding: 0;
        max-width: 35rem;
        margin: auto;
    }
}


/*.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}*/